body{
    margin:0;
    padding:0;
}


#furniture input{
    margin:10px;
}


header{
    display:flex;
    justify-content:space-between;
    width:80%;
    margin:auto;
    align-items:baseline;
}
#save{
    cursor:pointer;

}
hr{
    width:80%;
    color:gray;
}

form{
    margin:50px auto auto auto;
    width:80%;
    display:grid;
    grid-template-rows: 40px 40px 40px 20px 20px 1fr;

}



